#text {
    font-size: 160px;
 
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
    -webkit-text-fill-color: coral;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 3px rgb(194, 95, 59);
    text-align: left;
  
    position: absolute;
    margin: 400px 0 0 100px;
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

br {
    display: block;
    content: "";
    margin-top: 10px;
    line-height: 10px;
   
}
 
body {
   color:#000000;
   background-color:#d4fffb;
   background-image:url('Background Image');
   background-repeat:no-repeat;	
     
   }

a  { 
    text-decoration: none;
    color:#FFFFFF; 
}
  
.boing {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
   -webkit-text-fill-color: white;
   -webkit-font-smoothing: antialiased;
   -webkit-text-stroke: 1.5px black;
   filter:drop-shadow(1px 1px 1px rgb(0, 0, 0)); 
        flex-direction: column;
        text-align: right;
        margin-right: 40px;
       

}



.test {

      position: absolute;
      bottom: -15px;
      visibility: hidden;
 }

.bus {
         -ms-animation: moveright 5s; /* Internet Explorer */
         -o-animation: moveright 5s; /* Opera < 12.1 */
            animation: moveright 5s;
            filter: drop-shadow(-10px 8.4px  rgb(34, 34, 34));
     }


 


.boing:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 2s;

  /* When the animation is finished, start again */
  
}

@keyframes shake {
  
  60% { transform: translate(-5px, 1px) rotate(0deg); }

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

 }
 
 @keyframes moveright {
    from { opacity: 0; left: -100px; }
    to   { opacity: 1; left: 145px; }
}

/* Firefox < 16 */
@-moz-keyframes moveright {
    from { opacity: 0; left: -100px; }
    to   { opacity: 1; left: 145px; }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes moveright {
    from { opacity: 0; left: -100px; }
    to   { opacity: 1; left: 145px; }
}


/* Internet Explorer */
@-ms-keyframes moveright {
    from { opacity: 0; left: -100px; }
    to   { opacity: 1; left: 145px; }
}


/* Opera < 12.1 */
@-o-keyframes moveright {
    from { opacity: 0; left: -100px; }
    to   { opacity: 1; left: 145px; }
}
