html,

head {
	
		background-color:rgb(228, 255, 193);
	
}

a {

	color: rgb(255, 194, 194);
}

a:visited {

	color: rgb(255, 194, 194);
}

a:hover {

 text-decoration: none;

 color: rgb(189, 253, 255);

 background-color: rgb(255, 244, 244);

}

a:active {

 color: rgb(255, 255, 255);

 background-color: rgb(250, 214, 148);

}

h1 {
	
	margin: 35px 00px 0 800px;
	color:rgb(255, 251, 226);
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

p {
	margin: 35px 10px 0 30px;
		color:rgb(255, 251, 226);
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	width: 600px;
	padding: 10px;
	border: 100px rgb(175, 175, 0);
}

img {
	
	max-width:150px;
	max-height:150px;
	margin: 12px 0 0 10px;
}

footer {
	
	margin: 40px 0 0 90px;
	margin: 35px 10px 0 90px;
	color:rgb(255, 251, 226);
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

img {
	max-width: 100%;
	height: auto;

}

body {
	
	background-color:rgb(245, 236, 206);
	position:absolute;
}

audio {

	position:fixed;
	right:500px;
	Bottom: 600px;

}