

img {
	-ms-animation: fadein 5s; /* Internet Explorer */
	 -o-animation: fadein 5s; /* Opera < 12.1 */
		animation: fadein 5s;
		-ms-animation: moveleft 5s; /* Internet Explorer */
		-o-animation: moveleft 5s; /* Opera < 12.1 */
		   animation: moveleft 5s;
}



body {
	 background-color: #CDFFAF;
}

h1 {

   color: #FFFFFF;
   text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
       
        right: 100px;

}

a  { 
    
    color:#FFFFFF; 
}

a:hover { color:#72FF91; }

a:active { color:#FFF6B8; }

/* Don't underline links */

a:link {text-decoration: none;}

a:visited {text-decoration: none;}
